*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin

# Firebase/Google Cloud credentials
server/config/IWBIAdminConfig.json
server/config/firebase-web-config.json
